*.log
/src/__pycache__
/src/build_temp_fo76
/src/dist_fo76_bot
/src/__pycache__
/build
*.pyc
*.3
*.1
*.2
/src/old
src/icons/test1.png
src/icons/test2.png
src/icons/test.png
src/icons/west.png
src/test1.py
src/cache.txt
src/icons/compass.png
src/icons/eventtab.png
src/icons/Fallout76_05-13-19-48.dmp
src/icons/Fallout76_05-13-20-02.dmp
src/icons/Fallout76_05-13-20-25.dmp
src/icons/Fallout76_05-13-20-36.dmp
src/icons/north.png
src/icons/playermapicon.png
*.pyc
